{% extends 'base_accounts.html' %}

{% block content %}
<div class="row justify-content-center" style="margin-top: 71px;">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><a href="http://127.0.0.1:8000/student_register/">STUDENT SIGN UP</a></h3>
                <hr>
                <h3 class="card-title"><a href="http://127.0.0.1:8000/college_register/">INSTITUTE SIGN UP</a></h3>
                </h3>


            </div>
            
    </div>
</div>
{% endblock %}