{% extends 'base_accounts.html' %}

{% block content %}
<div class="row justify-content-center" style="margin-top: 71px;">
    <div class="container m-auto justify-content-center align-items-center d-flex">
        <a class="btn btn-primary btn-lg mx-4 p-3 fs-4" href="http://127.0.0.1:8000/student_register/" role="button">STUDENT SIGN UP</a>
        <a class="btn btn-primary btn-lg mx-4 p-3 fs-4" href="http://127.0.0.1:8000/college_register/" role="button">INSTITUTE SIGN UP</a>
    </div>
</div>
<!-- <div class="row justify-content-center" style="margin-top: 71px;">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><a href="">STUDENT SIGN UP</a></h3>
                <hr>
                <h3 class="card-title"><a href=""></a></h3>
                </h3>


            </div>
            
    </div>
</div> -->
{% endblock %}