{% extends 'base_accounts.html' %}

{% block content %}
<div class="row justify-content-center" style="margin-top: 71px;">
    <div class="container m-auto justify-content-center align-items-center d-flex">
        <a class="btn btn-primary btn-lg mx-4 p-3 fs-4" href="http://127.0.0.1:8000/student_register/" role="button">STUDENT SIGN UP</a>
        <a class="btn btn-primary btn-lg mx-4 p-3 fs-4" href="http://127.0.0.1:8000/college_register/" role="button">INSTITUTE SIGN UP</a>
    </div>
</div>
{% endblock %}