{% extends 'first.html' %}
{% block content %}


{% if page == 'login' %}

<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-4">
                    <h2 class="fw-bold mb-5">Sign up now</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <!-- <input type="text" id="Username" class="form-control" /> -->
                            <label class="form-label" for="Username">Username</label>{{form.username}}
                        </div>

                        <div class="form-outline mb-4">
                            <!-- <input type="password" id="password" class="form-control" /> -->
                            <label class="form-label" for="password">password</label>{{form.password}}
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Login
                        </button>
                        <div class="text-center">
                            <p>Haven't signed up yet? <a href="{% url 'student_register' %}">register</a></p>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% else %}
{% if name == 'student_register' %}
<script>
    console.log("Student");
</script>
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
        <div class="card-body py-5 px-md-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">student</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <!-- <input type="email" id="form3Example3" class="form-control" /> -->
                            <label class="form-label" for="Username">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="form-outline mb-4">
                            <!-- <input type="email" id="form3Example3" class="form-control" /> -->
                            <label class="form-label" for="Enail">Email address</label>
                            {{ form.email }}
                        </div>
                        <div class="form-outline mb-4">
                            <!-- <input type="email" id="form3Example3" class="form-control" /> -->
                            <label class="form-label" for="Enail">Institution</label>
                            {{ form.institution }}
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <!-- <input type="password" id="form3Example4" class="form-control" /> -->
                            <label class="form-label" for="Pwd1">Password</label>
                            {{ form.password1 }}
                        </div>

                        <div class="form-outline mb-4">
                            <!-- <input type="password" id="form3Example4" class="form-control" /> -->
                            <label class="form-label" for="Pwd2">re-enter password</label>
                            {{ form.password2 }}
                        </div>


                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Sign up
                        </button>
                        <div class="text-center">
                            <p>ALready signed up? <a href="{% url 'login' %}">login</a></p>
                        </div>
                        <div class="text-center">
                            <p>ALready signed up? <a href="{% url 'college_register' %}">register as institution</a></p>
                        </div>

                        <!-- Register buttons -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
      background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
      height: 300px;
      "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
      ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">institution</h2>
                    <form method="POSt">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <!-- <input type="email" id="form3Example3" class="form-control" /> -->
                            <label class="form-label" for="Username">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="form-outline mb-4">
                            <!-- <input type="email" id="form3Example3" class="form-control" /> -->
                            <label class="form-label" for="Enail">Email address</label>
                            {{ form.email }}
                        </div>
                        <div class="form-outline mb-4">
                            <!-- <input type="email" id="form3Example3" class="form-control" /> -->
                            <label class="form-label" for="Enail">mobile</label>
                            {{ form.mobile }}
                        </div>
                        

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <!-- <input type="password" id="form3Example4" class="form-control" /> -->
                            <label class="form-label" for="Pwd1">Password</label>
                            {{ form.password1 }}
                        </div>

                        <div class="form-outline mb-4">
                            <!-- <input type="password" id="form3Example4" class="form-control" /> -->
                            <label class="form-label" for="Pwd2">re-enter password</label>
                            {{ form.password2 }}
                        </div>


                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Sign up
                        </button>
                        <div class="text-center">
                            <p>ALready signed up? <a href="{% url 'login' %}">login</a></p>
                        </div>
                        <div class="text-center">
                            <p>ALready signed up? <a href="{% url 'student_register' %}">register as student</a></p>
                        </div>

                        <!-- Register buttons -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endif %}
{% endblock %}